.form-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 2em;
  grid-auto-rows: minmax(5em, auto);
  margin-bottom: 10em;
  padding: 1em;
}

#nombre {
  grid-column: 2 / span 3;
  grid-row: 2;
}

#contrasenia {
  display: grid;
  grid-template-columns: 2fr .2fr;
  grid-template-rows: 1fr;
}
.input-contrasenia{
  grid-column: 1;
}
.boton-contrasenia{
  
  padding: .5em;
  display: flex;
  justify-content: center;
  grid-column: 2;
}

#nombre-titulo {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#imagen {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / 2;
  grid-row: 2 / span 2;
  width: 100%;
}


#apellidos {
  grid-column: 2 / span 3;
  grid-row: 3;
}

#parte-inferior {
  grid-column: 1 / span 3;
  grid-row: 4;
}

.pos-wrapper {
  grid-column: 2 / 3;
  background-color: var(--color-bg-form);
  padding: 1em;
  border-radius: 0.5em;
}

/* .img-cabecera{
  border-radius: 50%;
} */

.wrapper {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-gap: .2em;
  grid-auto-rows: minmax(.5em, auto);
}

.blue-btn {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

input[type="text"],
input[type="date"],
input[type="password"],
input[type="email"],
select {
  width: 100%;
  /* El campo de entrada ocupará todo el ancho disponible */
  padding: 10px;
  /* Espacio interno */
  border: 1px solid #ccc;
  /* Borde del campo */
  border-radius: 5px;
  /* Bordes redondeados */
}

.boton-editar {
  display: flex;
  justify-content: right;
  grid-column: 3;
  grid-row: 6;
}

.recomendacion{
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column: 1;
  grid-row: 5;
}

.solo-mostrar{
  background-color: var(--color-tertiary);
}

.boton-entrar {
  display: flex;
  justify-content: center;
  grid-column: 2;
  grid-row: 6;
}

button {
  font-weight: bold;
  color: var(--color-texto);
  background-color: var(--color-primary);
  border: 2px solid white;

}

.contenedor-apartados-formulario_usuario {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / 2;
  grid-row: 2 / span 2;
  width: 100%;
 
}

.contenedor-apartados-formulario_usuario p {
  margin-bottom: 0;
  margin-top: 0;
  
}

.contenedor-apartados-formulario_usuario input {
  display: none;
}

.contenedor-apartados-formulario_usuario img {
  width: 10em;
  height: 10em;
  border-radius: 50%;
}

.blue-btn:hover {
  background-color: darkblue;
}

.titulo {
  border-bottom: 2px solid var(--color-bg-2);
  display: flex;
  justify-content: center;
  margin: .2em;
  width: 100%;
}

.contenedor-inicial{
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.icono-grande {
  margin-top: 1em;
  font-size: 1.5em;
}


@media (max-width: 850px) {

  .form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .wrapper {
    display: grid;
    grid-gap: .2em;
    grid-auto-rows: minmax(.5em, auto);
  }

  .contenedor-apartados-formulario_usuario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 1 / span2;
  grid-row: 2 / span 2;
  width: 100%;
  margin-bottom: 5em;
  }

  .contenedor-apartados-formulario_usuario img {
    width: 50%;
    height: 100%;
    border-bottom: .5em;
  }

  #nombre {
    grid-column: 1 / span 3;
    grid-row: 3;
  }

  #apellidos {
    grid-column: 1 / span 3;
    grid-row: 4;
  }
  #parte-inferior {
    grid-column: 1 / span 3;
    grid-row: 5;
  }
  .boton-editar {
    display: flex;
    justify-content: right;
    grid-column: 3;
    grid-row: 7;
  }

  .recomendacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 1 /span 2;
    grid-row: 6;
  }

  .boton-entrar {
    display: flex;
    justify-content: center;
    grid-column: 2;
    grid-row: 7;
  }
}