@import url("paleta-normal.css");


* {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--color-text);
  font-weight: bold;
}

a:hover {
  color: var(--color-bg);
}

ul {
  list-style: none;
}

body {
  background-color: var(--color-bg);
}

.logotipo {
  width: 180px;
  height: auto;
}

.navbar {
  background-color: var(--color-bg-2);
  display: flex;
  justify-content: space-between;
  padding: 1.5em;
}

.navbar-menu {
  padding: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-item {
  margin-right: 2.5em;
  margin-left: 2.5em;
}

.container2 {
  display: flex;
  justify-content: center;
  /* Para centrar los elementos horizontalmente */
}

.btn {
  padding: .5em;
  background-color: var(--color-secondary);
  border-radius: 5px;
  outline: none;
  border-style: none;
  font-size: 1em;
  height: 2.3em;
  cursor: pointer;
  min-width: fit-content;
  margin: .5em;
}

.btn:hover {
  background-color: transparent;
  box-shadow: inset 0 0 0 .2em var(--color-bg);
}

.btn-primary {
  background-color: var(--color-primary);
}

.btn-secondary {
  background-color: var(--color-secondary);
}

.navbar-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media screen and (max-width: 870px) {
  .navbar {
    display: grid;
    grid-template-areas: "c1 c3" "c2 c2";
  }

  .container1 {
    grid-area: c1;
  }

  .container2 {
    grid-area: c2;
    padding-top: .5em;
    justify-self: center;
  }

  .container3 {
    grid-area: c3;
  }
}