@import url("detalles.css");
@import url("paleta-normal.css");

.modal {
    position: fixed;
    z-index: 2;
    top: 20%;
    left: 25%;
    width: 45%;
    display: none;
}

.modal.esta-abierto {
    display: block;
}

.boton-cerrar-modal {
    position: absolute;
    top: 1em;
    cursor: pointer;
    padding: 0.5em 0.75em 0.5em 0.75em;
    background-color: black;
    color: white;
    border-radius: 0.5em;
}

.boton-cerrar-modal:hover {
    background-color: rgb(51, 51, 51);
}

.boton-publicar-comentario {
    background-color: var(--color-bg-2);
    border: 0;
    font-size: 1em;
    cursor: pointer;
    outline: none;
    border-style: none;
}

.boton-publicar-comentario:hover {
    background-color: #e35555; /*TODO: CAMBIAR CUANDO LOS COLORES ESTEN ESTABLECIDOS*/
}

.contenedor-modal {
    background-color: rgb(238, 238, 238);
    border-radius: 0.45em;
    padding: 2.8em 2em 2em;
    position: relative;
}

.contenedor-usuario-y-publicar {
    display: grid;
    grid-template-columns: 60% 40%;
    margin: 2em 0 2em 0;
}

.parrafo-valoracion {
    margin-bottom: 0;
}

.contenedor-modal textarea {
    width: 97%;
    padding: 0.5em;
}
