:root {
  --color-primary: #96CDB2;
  --color-secondary: #FCA964;
  --color-tertiary: #F79B68;
  --color-text: #2A0F0E;

  /*Fondos*/
  --color-bg: #FEECAE;
  --color-bg-2: #802D2D;
  --color-bg-form: #E47E25;
  --color-bg-form-2: #F79B68;

  --color-bg-comment: #D9D9D9;
}